.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5.5rem 1rem 1rem;
    transition: margin-left var(--layout-section-transition-duration);
    box-sizing: border-box;
}

.layout-main {
    flex: 1 1 auto;
    margin-bottom: 1rem;
}

@media (max-width: 991px) {
    .layout-main-container {
        padding: 5.5rem 1rem 1rem;
    }
}
